* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  line-height: 1.5em;
  font-size: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:focus,
button:active,
input:focus,
input:active {
  outline: none;
}
.inner {
  width: 75%;
  max-width: 1100px;
}
body {
  height: 100vh;
  background: pink url(../images/vegan-recipes.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
